# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/
*.Rproj
.*_cache/
godaddy/
static/


# R Coursework Folder (Separate Git)
R Experiential Coursework/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
.RData
.Ruserdata
public/

# All Generated
*.png
*.jpg
*.svg
.ssh/
/resources/**
*.css
*.map

*/*/*/html/
