.content {
  ul,
  ol {
    margin-top: 10px;
    margin-bottom: 20px;
    li {
      margin-bottom: 5px;
      margin-left: 20px;
    }
  }
  a {
    text-decoration: underline;
  }
  p {
    color: $font-color;
    font-family: $font-family-base;
    font-weight: $font-weight-normal;
  }
  h1 {
    font-family: $font-family-heading;
    line-height: $line-height-base - .2;
    font-weight: $font-weight-normal;
    color: #333333;
    @include media-breakpoint-up(md) {
      line-height: $line-height-base - .2;
      font-weight: $font-weight-light;
    }
  }
  h2 {
    font-family: $font-family-heading;
    line-height: $line-height-base - .2;
    font-weight: $font-weight-normal;
    color: #333333;
    @include media-breakpoint-up(md) {
      line-height: $line-height-base - .2;
    }
  }
  // Subheading
  h3 {
    color: $primary;
    line-height: $line-height-base - .4;
    font-weight: $font-weight-light;
    letter-spacing: 1px;
    color: #333333;
    @include media-breakpoint-up(md) {
      line-height: 1.2;
      font-weight: $font-weight-light;
    }
  }
  h4 {
    color: $primary;
    line-height: $line-height-base - .4;
    font-weight: $font-weight-light;
    letter-spacing: 1px;
    color: #333333;
    @include media-breakpoint-up(md) {
      line-height: $line-height-base - .4;
      font-weight: $font-weight-light;
    }
  }
  h5 {
    color: $primary;
    line-height: $line-height-base - .6;
    font-weight: $font-weight-thin;
    letter-spacing: 1px;
    color: #333333;
    @include media-breakpoint-up(md) {
      line-height: $line-height-base - .6;
      font-weight: $font-weight-thin;
    }
  }
  h6 {
    color: $primary;
    line-height: $line-height-base - .6;
    font-weight: $font-weight-thin;
    letter-spacing: 1px;
    color: #333333;
    @include media-breakpoint-up(md) {
      line-height: $line-height-base - .6;
      font-weight: $font-weight-thin;
    }
  }
  iframe {
    width: 1px;
    min-width: 100%;
    overflow-y: scroll
  }
}
