.header {
  color: $primary;
  background-color: rgba(255,255,255, .40);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 15px rgba(50, 50, 93, 0.2);
  height: 16.5%;
  @include media-breakpoint-down(md) {
    max-height: 72px;
  } 
  @include media-breakpoint-up(md) {
    max-height: 73px;
  } 
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.header-absolute {
    position: absolute;
    z-index: 10;
    width: 100%;
  }
}
.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}
