// #nav-expander {
//   transition: all .25s ease-in-out 0;
//   color: #000;
//   margin-top: -7px;
// 	position: absolute;
// 	right: 15px;
// 	top: 50%;
//   &:hover, &:focus {
//     opacity: .75;
//     & i.fa-bars {
//       color: #000;
//     }
//   }
//   & i.fa-bars {
//     color: #000;
// 	  font-size: 21px;
//   }
// }

.main-menu {
  display: none;
  @include media-breakpoint-up(md) {
    display: none;
  }
  > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    > li {
      list-style: none;
      font-size: 0.9rem;
      > a {
        padding: 10px 14px 10px 14px;
        display: inline-block;
        font-weight: 600;
        opacity: .75;
        text-transform: uppercase;
        text-decoration: none;
        color: $black;
        font-family: $font-family-base;
        &:hover {
          color: $link-hover-color;
          text-decoration: none;
        }
      }
      &:active {
        > a {
          text-decoration: none;
          color: $white;
          &:hover {
            text-decoration: none;
            transition: all 225ms ease-in 0s;
            color: $link-hover-color;
          }
        }
      }
    }
  }
}
